@font-face {
	font-family:'ProximaNova-Black';
	src: url('ProximaNova-Black_gdi.eot');
	src: url('ProximaNova-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Black_gdi.woff') format('woff'),
		url('ProximaNova-Black_gdi.ttf') format('truetype'),
		url('ProximaNova-Black_gdi.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Bold';
	src: url('ProximaNova-Bold_gdi.eot');
	src: url('ProximaNova-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Bold_gdi.woff') format('woff'),
		url('ProximaNova-Bold_gdi.ttf') format('truetype'),
		url('ProximaNova-Bold_gdi.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Light';
	src: url('ProximaNova-Light_gdi.eot');
	src: url('ProximaNova-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Light_gdi.woff') format('woff'),
		url('ProximaNova-Light_gdi.ttf') format('truetype'),
		url('ProximaNova-Light_gdi.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Regular';
	src: url('ProximaNova-Regular_gdi.eot');
	src: url('ProximaNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular_gdi.woff') format('woff'),
		url('ProximaNova-Regular_gdi.ttf') format('truetype'),
		url('ProximaNova-Regular_gdi.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Extrabld';
	src: url('ProximaNova-Extrabld_gdi.eot');
	src: url('ProximaNova-Extrabld_gdi.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Extrabld_gdi.woff') format('woff'),
		url('ProximaNova-Extrabld_gdi.ttf') format('truetype'),
		url('ProximaNova-Extrabld_gdi.svg#ProximaNova-Extrabld') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'Gill';
	src: url('gillsans.ttf') format('truetype');
}


